:root {
    --theme-clr: #E6533C;
    --p-primary-clr: rgba(255, 255, 255, 0.5);
}



@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@import url('https://fonts.cdnfonts.com/css/miama');

.inter-font-theme {
    font-family: "Inter", sans-serif;
}

/* .header-miama-font{
    font-family: 'Miama', sans-serif;
    font-weight: 400;
    font-size: 5rem;
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #111111;
    color: #FFFFFF;
}


/* Shared Styles */

.navbar,
.banner,
section,
.footer-container {
    margin: 0 auto;
}

.title-primary {
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 16px;
    color: #FFFFFF;
}


.p-primary {
    font-size: 0.9rem;
    color: var(--p-primary-clr);
    margin-bottom: 28px;
}


.btn-primary {
    font-size: 1.2rem;
    font-weight: 600;
    color: white;
    padding: 16px 40px;
    background-color: var(--theme-clr);
    border: none;
    border-radius: 40px;
    margin: 0 16px;
}


.glass-effect {
    background: rgba(255, 255, 255, 0.055);
    backdrop-filter: blur(5px);
}






/* hero section styles */

/* navbar styles */

.hero {
    background: linear-gradient(180deg, #111111fe, #77777735, #111111fe);
}

.header-title {
    font-size: 2.2rem;
    font-weight: 800;
    color: var(--theme-clr);
    font-style: italic;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 75vw;
    margin-top: 40px;
    margin-bottom: 100px;
}

.nav-links {
    font-size: 1.2rem;
    display: flex;
    list-style: none;
    gap: 1rem;
}

.nav-link {
    padding: 8px 20px;
}

.home-links {
    background-color: var(--theme-clr);
    border-radius: 2.5em;
}

/* banner Styles */

.banner {
    display: flex;
    max-width: 1152px;
}

.banner-info {
    max-width: 615px;
    margin-right: 100px;
}

.banner-title {
    font-size: 80px;
    font-weight: 900;
    line-height: 110%;
    margin-bottom: 1.8rem;
}

.btn-download {
    background-color: transparent;
    border: 1px solid white;
}

/* banner badge style */

.banner-highlight {
    position: relative;
}



.support-video-btn {
    padding: 16px 24px;
    color: #FFFFFF;
    font-size: 2.5rem;
    font-weight: 900;
    background-color: rgba(255, 255, 255, 0.089);
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    line-height: 28px;
    position: absolute;
    top: 100px;
    right: 0px;
}

.support-video-btn span {
    font-size: .9rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.65);

}

.tutorial-video-btn {
    padding: 16px 24px;
    color: #FFFFFF;
    font-size: 2.5rem;
    font-weight: 900;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    line-height: 28px;
    position: absolute;
    bottom: 80px;
    left: -30px;
}

.tutorial-video-btn span {
    font-size: .9rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.65);

}


/* habit Change section style */

.habit-container {
    max-width: 1152px;
    text-align: center;
    margin-top: 100px;
}

.habit-info-detail {
    margin: 15px 0 60px;
}

.habit-card {
    max-width: 240px;
    text-align: center;
}

.habit-card img {
    border-radius: 50%;
    margin-bottom: 30px;
}

.habit-cards-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.habit-card figcaption h4 {
    font-size: 1.1rem;
    margin-bottom: 8px;
}

/* Run Extra section start here */
/* Run Extra section start here */

.run-extra {
    max-width: 1152px;
    display: flex;
    justify-content: space-between;
    padding: 40px;
    margin: 100px auto;
    border-radius: 18px;
}

.run-extra img {
    width: 100%;
    border-radius: 18px;
}

.run-extra-info {
    max-width: 450px;
}

.run-extra-info button {
    margin: 0 10px 24px 0;
}


/* our team section style */

.our-team{
    max-width: 1152px;
}

.team-text{
    max-width: 670px;
    text-align: center;
    margin: 0 auto;
}



.trainer-img{
    max-width: 326px;
    height: 272px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color:  rgba(0, 0, 0, 0.2);
    background-blend-mode: overlay;
    border-radius: 18px;
    
}

.trainer-text{
    position: absolute;
    left: 20px;
    bottom: 0;
}


.trainer-img-container1{
    background-image:  url(../images/trainer1.png);
}
.trainer-img-container2{
    background-image: url(../images/trainer2.png);
}
.trainer-img-container3{
    background-image: url(../images/trainer3.png);
}
.trainer-img-container4{
    background-image: url(../images/trainer4.png);
}
.trainer-img-container5{
    background-image: url(../images/trainer5.png);
}
.trainer-img-container6{
    background-image: url(../images/trainer6.png);
}


.trainer-detail{
    max-width: 1152px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 30px;
    border-radius: 18px;
}


/* footer section style */


.footer-container{
    max-width: 1152px;
    margin-top: 100px;
}

.footer-company-info h1{
    color: var(--theme-clr);
    font-size: 4.5rem;
    font-weight: 800;
    font-style: italic;
    margin-bottom: 22px;
}

.footer-nav-title{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 42px;
}

.footer-nav ul li{
    font-size: 1.5rem;
    list-style: none;
    color: var(--p-primary-clr);
    margin-bottom: 20px;
}

.footer-nav-container{
    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 120px;
    padding: 80px 0;
}

.footer-company-info{
    grid-column: span 2;
}

.footer-footer{
    margin: 38px 0;
    font-size: 1.4rem;
    text-align: center;
}

































@media screen and (max-width: 576px) {

    /* hero section */

    .nav-links {
        display: none;
    }

    .banner {
        flex-direction: column;
        align-items: center;
    }


    .banner-title {
        font-size: 2.25rem;
    }

    .banner-info {
        margin: 0 20px;
    }

    .banner-info .btn-primary {
        margin: 10px;
    }

    .tutorial-video-btn{
        left: 5px;
    }


    /* habit section */

    .habit-container {
        margin-top: 20px;
    }

    .habit-cards-container {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }


    /* extra run section */

    .run-extra {
        flex-direction: column;
        align-items: center;
        margin: 0 10px;
    }

    /* our team section start here */

    .trainer-detail{
        grid-template-columns: repeat(1, 1fr);
        margin: 0 20px;
    }

    .trainer-img-container5,
    .trainer-img-container6{
        display: none;
    }

    .trainer-name{
        font-size: 1.25rem;
    }


    .footer-nav-container{
        grid-template-columns: 1fr;
        margin: 0 50px;
        gap: 30px;
    }
    .footer-company-info{
        grid-column: span none;
    }

    .footer-nav-title{
        margin-bottom: 10px;
    }




}


@media screen and (min-width: 577px) and (max-width:992px) {

    .navbar {
        justify-content: space-between;
        gap: 30px;
    }


    .banner {
        flex-direction: column;
        align-items: center;
    }

    /* habit section */

    .habit-container {
        margin-top: 40px;
    }

    .habit-cards-container {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }

    /* run extra section */

    .run-extra {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 20px 20px;
    }

    /* team sectiom */

    .our-team{
        max-width: 90vw;
    }

    .footer-nav-container{
        grid-template-columns: repeat(1, 1fr);
        margin: 0 40px;
    }
}